<h1>Login to review cool games!</h1>

<%= form_tag(:action => 'attempt_login') do %>
	
	<div>
		<%= label_tag :username %>
		<%= text_field_tag :username %>
	</div>
	<div>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<div>
		<%= submit_tag('Login') %>
	</div>

<% end %>

<p>Or <%= link_to 'register', 'register' %> a new account</p>