<h1>Register an account to start reviewing awesome games.</h1>

<%= link_to 'Back', :back %>
<br />
<br />

<% if @user.errors.any? %>
	<div class='errors'>
		<p><%= pluralize(@user.errors.count, 'error') %> found:</p>
		<ul>
			<% @user.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@user) do |f| %>
	
	<div class='row'>
		<%= f.label :username, :class => 'col-md-3' %>
		<%= f.text_field :username, :class => 'col-md-2' %>
	</div>
	<div class='row'>
		<%= f.label :password, :class => 'col-md-3' %>
		<%= f.password_field :password, :class => 'col-md-2' %>
	</div>
	<div class='row'>
		<%= f.label :password_confirmation, :class => 'col-md-3' %>
		<%= f.password_field :password_confirmation, :class => 'col-md-2' %>
	</div>
	<div class='row'>
		<%= f.label :email, :class => 'col-md-3' %>
		<%= f.text_field :email, :class => 'col-md-2' %>
	</div>
	<div class='row'>
		<%= f.submit 'Register', :class => 'col-md-2 col-md-offset-3' %>
	</div>

<% end %>
