<% if @game.errors.any? %>
	
	<section class='errors'>
		<p><%= pluralize(@game.errors.count, 'error') %> found:</p>
		<ul>
			<% @game.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</section>

<% end %>

<div class='new-table-wrapper'>
<%= form_for @game, remote: true do |f| %>

	<table class='new-table'>
		<h4><em><strong>Add Game</strong></em></h4>
		<tr>
			<th><%= f.label :name %></th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th><%= f.label :genre %></th>
			<td><%= f.select :genre, ["Shooter", "MOBA", "RPG", "Strategy"] %></td>
		</tr>
		<tr>
			<th><%= f.label :publisher %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			<td><%= f.text_field :publisher %></td>
		</tr>
		<tr>
			<th><%= f.label :platform %></th>
			<td><%= f.select :platform, ["PC", "Mac", "iOS", "Android", "Console"] %></td>
		</tr>
		<tr>
			<td></td><td><%= f.submit @game.new_record? ? 'Create Game' : 'Update Game' %></td>
		</tr>
	</table>

<% end %>
</div>