<% if @game.errors.any? %>
	
	<section class='errors'>
		<p><%= pluralize(@game.errors.count, 'error') %> found:</p>
		<ul>
			<% @game.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</section>

<% end %>

<div class='new-table-wrapper'>
<%= form_for @game do |f| %>

	<table class='new-table'>
		<tr>
			<th><%= f.label :name %></th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th><%= f.label :genre %></th>
			<td><%= f.select :genre, ["Shooter", "MOBA", "RPG", "Strategy"] %></td>
		</tr>
		<tr>
			<th><%= f.label :publisher %></th>
			<td><%= f.text_field :publisher %></td>
		</tr>
		<tr>
			<th><%= f.label :platform %></th>
			<td><%= f.select :platform, ["PC", "Mac", "iOS", "Android", "Console"] %></td>
		</tr>
		<tr>
			<td><%= f.submit @game.new_record? ? 'Create Game' : 'Update Game' %></td>
		</tr>
	</table>

<% end %>
</div>

<br/><br/>

<%= form_for @game do |f| %>

<div class='col-md-4'>
	<div class='panel-group' id='accordion'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='#accordion' href='#game'>Name</a>
				</h4>
			</div>
			<div id='game' class='panel-collapse collapse in'>
				<div class='panel-body'>
					<%= f.text_field :name %>
				</div>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='#accordion' href='#genre'>Genre</a>
				</h4>
			</div>
			<div id='genre' class='panel-collapse collapse'>
				<div class='panel-body'>
					<%= f.select :genre, ["Shooter", "MOBA", "RPG", "Strategy"] %>
				</div>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='#accordion' href='#publisher'>Publisher</a>
				</h4>
			</div>
			<div class='panel-collapse collapse' id='publisher'>
				<div class='panel-body'>
					<%= f.text_field :publisher %>
				</div>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='#accordion' href='#platform'>Platform</a>
				</h4>
			</div>
			<div class='panel-collapse collapse' id='platform'>
				<div class='panel-body'>
					<%= f.select :platform, ["PC", "Mac", "iOS", "Android", "Console"] %>
				</div>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='#accordion' href='#submit'>Add Game</a>
				</h4>
			</div>
			<div class='panel-collapse collapse' id='submit'>
				<div class='panel-body'>
					<%= f.submit @game.new_record? ? "Add Game" : "Update Game" %>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>