<% if @game.errors.any? %>
	
	<section class='errors'>
		<p><%= pluralize(@game.errors.count, 'error') %> found:</p>
		<ul>
			<% @game.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</section>

<% end %>

<div class='new-table-wrapper'>
<%= form_for @game, remote: true, :class => 'form' do |f| %>

	<table class='new-table'>
		<h4><em><strong><%= @game.new_record? ? "Add Game" : "Update Game" %></strong></em></h4>
		<tr>
			<th><%= f.label :name %></th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th><%= f.label :genre %></th>
			<td><%= f.select :genre, ["Shooter", "MOBA", "RPG", "Strategy"] %></td>
		</tr>
		<tr>
			<th><%= f.label :publisher %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
			<td><%= f.text_field :publisher %></td>
		</tr>
		<tr>
			<th>
				<%= f.label :platform %>
			</th>
			<td>
				<div class='btn-group' data-toggle='buttons'>
				<label class='btn btn-primary'>
					<%= f.radio_button :platform, "PC" %>PC
				</label>
				<label class='btn btn-primary'>
					<%= f.radio_button :platform, "Mac" %>Mac
				</label>
				<label class='btn btn-primary'>
					<%= f.radio_button :platform, "iOS" %>iOS
				</label>
				<label class='btn btn-primary'>
					<%= f.radio_button :platform, "Android" %>Android
				</label>
				<label class='btn btn-primary'>
					<%= f.radio_button :platform, "Console" %>Console
				</label>
				</div>
			</td>
		</tr>
		<tr>
			<td></td><td><%= f.submit @game.new_record? ? 'Create Game' : 'Update Game', :class => 'btn add-button', :id => 'create-button' %></td>
		</tr>
	</table>

<% end %>
</div>