<h1>Games#index</h1>

<p>Check out and rate all these awesome games.<br /></p>

<table>
	<tr>
		<td>Game</td>
		<td>Genre</td>
		<td>Publisher</td>
		<td>Platform</td>
	</tr>
	
<% @games.each_with_index do |g,i| %>
	
	<tr class=''>
		<th><%= g %></th>
		<td><%= g.genre %></td>
		<td><%= g.publisher %></td>
		<td><%= g.platform %></td>
		<td><%= link_to 'Show', g %>
		<td><%= link_to 'Edit', edit_game_path(g) %></td>
		<td><%= link_to 'Delete', g, :method => 'delete' %></td>
	</tr>

<% end %>
</table>

<br />
<h3><%= link_to 'Add Game', new_game_path %></h3>