<div class='row'>
<div class='row'>
	<h1>Game Reviews</h1>
	<p class='heading-index'>Check out and rate all these awesome games.<br /><br/></p>

	<div class='search-box'>
		<%= form_tag games_path, method: 'get' do %>
			<%= text_field_tag :search, params[:search], :placeholder => "Search..." %>
			<%= hidden_field_tag :sort, sort_by %>
			<%= hidden_field_tag :direction, direction_of %>
			<%= submit_tag 'GO', :name => nil, :class => 'btn search-button' %>
		<% end %>
	</div>
</div>

<div class='row main-table-wrapper'>
	<table class='main-table'>
		<tr>
			<td class='col-xs-3 col-md-2'><%= sort_me("name", "Game") %></td>
			<td class='col-xs-2 col-md-1'><%= sort_me("karma", "Rating") %></td>
			<td class='col-xs-2 col-md-1'><%= sort_me("genre") %></td>
			<td class='col-xs-2 col-md-1'><%= sort_me("publisher") %></td>
			<td class='col-xs-2 col-md-1'><%= sort_me("platform") %></td>
			<td class='col-xs-1'></td>
			<td class='col-xs-1'></td>
			<td class='col-xs-1'></td>
		</tr>
		
	<% @games.each_with_index do |g,i| %>
		
		<tr id='<%= g.name %>'>
			<th><%= g %></th>
			<td><%= "+" if g.game_votes.sum("value") > 0 %><%= "-" if g.game_votes.sum("value") < 0 %><%= raw("&nbsp") if g.game_votes.sum("value") == 0 %><%= g.game_votes.sum(:value).abs %></td>
			<td><%= g.genre %></td>
			<td><%= g.publisher %></td>
			<td><%= g.platform %></td>
			<td><%= link_to 'Show', g, :class => 'btn show-button' %></td>
			<td><%= link_to 'Edit', edit_game_path(g), :class => 'btn edit-button', remote: true %></td>
			<td><%= link_to 'Delete', g, remote: true, :method => 'delete', :class => 'btn del-button' %></td>
		</tr>

	<% end %>
	</table>
</div>

<br /><br />

<%= render 'form' %>