<h1><%= @game %></h1>

<%= link_to 'Leave a review', new_game_review_path(@game) %>

<br />

<h2>Other players have said:</h2>

<% @game.reviews.each_with_index do |r,i| %>

<div>
	<h4><%= i+1 %>. <%= r.title %></h4>
	<p><%= r.comment %></p>
</div>
<hr />

<% end %>