<h1><em><%= @game %></em></h1>

<div class='row'>
	<%= link_to 'Back', games_path , :class => 'btn back-button' %>
	<%= link_to 'Leave a review', new_game_review_path(@game), :class => 'btn review-button', remote: true %>
	
	<% unless @game.game_votes.map{|v| v.user_id}.include? session[:user_id] %>
	<%= link_to 'Upvote Game', vote_game_path(@game, value: 1), :method => 'post', class: 'btn btn-success', style: 'margin-left: 100px' %>
	<%= link_to 'Downvote Game', vote_game_path(@game, value: -1), :method => 'post', class: 'btn btn-danger' %>
	<% end %>
</div>

<div id='review-wrapper'>
</div>

<% unless @game.reviews.empty? %>
	<section class=''>
		<h3>Other players have said:</h3>
		<br/>

		<% @game.reviews.each_with_index do |r,i| %>

		<div>
			<h4><%= i+1 %>. <%= r.title %> | <%= r.rating %>/5</h4>
			<p><%= r.comment %></p>
			<p>
				<%= (session[:user_id] == r.user_id) ? raw('<strong>You reviewed</strong> this game') : "Reviewed by " + r.user.to_s %> on <%= r.created_at.strftime('%m/%d/%y %H:%M') %> 
				| karma: <%= r.votes.sum(:value) %>
				<% if session[:user_id] == r.user_id %> |
					<%= link_to 'Delete', game_review_path(@game, r), :method => 'delete' %>
				<% end %>
				
				<% unless (r.votes.map{|u| u.user_id}.include? session[:user_id]) || (session[:user_id] == r.user_id) %>
					<div>
						Vote:
						<%= link_to 'upvote', vote_game_review_path(@game, r, value: 1), method: 'post' %><%= %> | 
						<%= link_to 'downvote', vote_game_review_path(@game, r, value: -1), method: 'post' %><%= %>
					</div>
				<% end %>

			</p>			
		</div>
		<hr/>
		<% end %>
	</section>

<% else %>
	
	<section>
		<h3>No reviews yet.</h3>
	</section>

<% end %>