<% if @review.errors.any? %>
	
	<div class='errors'>
		<p><%= pluralize(@review.errors.count, 'error') %> found:</p>
		<ul>
			<% @review.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</div>

<% end %>


<%= form_for [@game, @review] do |f| %>

	<table>
		<tr>
			<th><%= f.label :rating %></th>
			<td><%= f.number_field :rating %></td>
		</tr>
		<tr>
			<th><%= f.label :title %></th>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<th><%= f.label :comment %></th>
			<td><%= f.text_area :comment %></td>
		</tr>
		<tr>
			<td><%= f.submit 'Add review' %></td>
		</tr>
	</table>

<% end %>