<!DOCTYPE html>
<html>
<head>
  <title>Game Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless session[:user_id].nil? %>
	<div class='container'>
		<nav class='logout'>
			<p>Loggd in as <strong><%= session[:username] %></strong> | <%= link_to 'Logout', 'logout' %>
		</nav>
	</div>
<% end %>

<% unless flash.blank? %>
	<% flash.each do |level, msg| %>
		<div class='container'>
			<div class='col-md-4 <%= level %>'>
				<p><%= msg %></p>
			</div>
		</div>
	<% end %>
<% end %>

<div class='container'>
	<%= yield %>
</div>

<script src='/app/assets/javascripts/bootstrap.min.js'></script>

</body>
</html>
