<!DOCTYPE html>
<html>
<head>
  <title>Game Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless session[:user_id].nil? %>
	<div class='container'>
		<nav class='logout'>
			<p>Loggd in as <strong><%= session[:username] %></strong> | <%= link_to 'Logout', 'logout' %>
		</nav>
	</div>
<% end %>

<% if !flash[:notice].blank? %>
	<div class='container flash'>
		<p><%= flash[:notice] %></p>
	</div>
<% end %>

<div class='container'>
	<%= yield %>
</div>

<script src='/app/assets/javascripts/bootstrap.min.js'></script>

</body>
</html>
